/* Main Resource File for WarpTris */

#ifndef OS2_INCLUDED
  #include <os2.h>
#endif

#include "WarpTris.h"

/* Other resource files to be included */
rcinclude Name.dlg
rcinclude Page1.dlg
rcinclude Page2.dlg
rcinclude Page3.dlg
rcinclude PInfo.dlg
rcinclude GameOver.dlg
rcinclude Exit.dlg

/* Icons */
ICON WID_PARENT WarpTris.ICO

/* Bitmaps */
BITMAP BID_ON1 block1.bmp
BITMAP BID_ON2 block2.bmp
BITMAP BID_ON3 block3.bmp
BITMAP BID_ON4 block4.bmp
BITMAP BID_ON5 block5.bmp
BITMAP BID_ON6 block6.bmp
BITMAP BID_ON7 block7.bmp
BITMAP BID_LOGO space.bmp

BITMAP BID_ZERO  0.bmp
BITMAP BID_ONE   1.bmp
BITMAP BID_TWO   2.bmp
BITMAP BID_THREE 3.bmp
BITMAP BID_FOUR  4.bmp
BITMAP BID_FIVE  5.bmp
BITMAP BID_SIX   6.bmp
BITMAP BID_SEVEN 7.bmp
BITMAP BID_EIGHT 8.bmp
BITMAP BID_NINE  9.bmp
BITMAP BID_OFF   off.bmp

BITMAP BID_UP UP.BMP
BITMAP BID_DOWN DOWN.BMP
BITMAP BID_LEFT LEFT.BMP
BITMAP BID_RIGHT RIGHT.BMP
BITMAP BID_NEXTBACKGROUND BACK.BMP
BITMAP BID_SMALLOGO       small.BMP
BITMAP BID_GAMEOVER GameOver.BMP

/* Menus */
MENU MNU_GAME
BEGIN
 MENUITEM "~Properties...\t", CMD_PROPERTIES
 MENUITEM SEPARATOR
 MENUITEM "~New\t", CMD_NEWGAME
 SUBMENU "~Impulse", MID_LEVEL
 BEGIN
  MENUITEM "~Donkey\t", CMD_BEGINNER
  MENUITEM "~Formula 1\t", CMD_INTERMEDIATE
  MENUITEM "~WARP!\t", CMD_EXPERT
 END
 SUBMENU "~Sound", MID_SOUND
 BEGIN
  MENUITEM "~On", CMD_SOUNDON
  MENUITEM "O~ff", CMD_SOUNDOFF
 END
END

MENU MNU_PARENT
BEGIN
  MENUITEM "~Properties...\t", CMD_PROPERTIES
  MENUITEM SEPARATOR
 SUBMENU "~Windows", MID_WINDOWS
 BEGIN
  MENUITEM "~High Scores\t", CMD_HIGHWINDOW
  MENUITEM "~Next\t", CMD_NEXTWINDOW
  MENUITEM "~Score\t", CMD_SCOREWINDOW
  MENUITEM "~Game\t", CMD_GAMEWINDOW
 END
 SUBMENU "~Help", MID_HELP
 BEGIN
  MENUITEM "~General Help", CMD_GENERALHELP
  MENUITEM "Help ~Index", CMD_HELPINDEX
  MENUITEM "~Help on Help", CMD_HELPONHELP
  MENUITEM SEPARATOR
  MENUITEM "~Product Information", CMD_PINFO
 END
 MENUITEM "~Arrange\t", CMD_ARRANGE
 MENUITEM "~Exit\t", CMD_EXIT
END


MENU WID_PARENT
BEGIN
 SUBMENU "~Game", MID_GAME
 BEGIN
  MENUITEM "~New\tF2", CMD_NEWGAME
  MENUITEM SEPARATOR
  MENUITEM "~Exit\tCtrl+X", CMD_EXIT
 END
 SUBMENU "~Impulse", MID_LEVEL
 BEGIN
  MENUITEM "~Donkey\tCtrl+D", CMD_BEGINNER
  MENUITEM "~Formula 1\tCtrl+F", CMD_INTERMEDIATE
  MENUITEM "~WARP!\tCtrl+W", CMD_EXPERT
 END
 SUBMENU "~Sound", MID_SOUND
 BEGIN
  MENUITEM "~On", CMD_SOUNDON
  MENUITEM "~Off", CMD_SOUNDOFF
 END
 SUBMENU "~Options", MID_OPTIONS
 BEGIN
  MENUITEM "~Properties...\tCtrl+P", CMD_PROPERTIES
 END
 SUBMENU "~Windows", MID_WINDOWS
 BEGIN
  MENUITEM "~High Scores\tCtrl+H", CMD_HIGHWINDOW
  MENUITEM "~Next\tCtrl+N", CMD_NEXTWINDOW
  MENUITEM "~Score\tCtrl+S", CMD_SCOREWINDOW
  MENUITEM "~Game\tCtrl+G", CMD_GAMEWINDOW
  MENUITEM SEPARATOR
  MENUITEM "~Arrange\t", CMD_ARRANGE
 END
 SUBMENU "~Help", MID_HELP
 BEGIN
  MENUITEM "~General Help", CMD_GENERALHELP
  MENUITEM "Help ~Index", CMD_HELPINDEX
  MENUITEM "~Help on Help", CMD_HELPONHELP
  MENUITEM SEPARATOR
  MENUITEM "~Product Information", CMD_PINFO
 END
END

/* Accelarator Table */
ACCELTABLE WID_PARENT
BEGIN
 VK_F2, CMD_NEWGAME, VIRTUALKEY
 "X", CMD_EXIT, CONTROL
 "G", CMD_GAMEWINDOW,CONTROL
 "S", CMD_SCOREWINDOW,CONTROL
 "N", CMD_NEXTWINDOW, CONTROL
 "H", CMD_HIGHWINDOW, CONTROL
 "D", CMD_BEGINNER, CONTROL
 "F", CMD_INTERMEDIATE, CONTROL
 "W", CMD_EXPERT, CONTROL
 "P", CMD_PROPERTIES, CONTROL
 "x", CMD_EXIT, CONTROL
 "g", CMD_GAMEWINDOW,CONTROL
 "s", CMD_SCOREWINDOW,CONTROL
 "n", CMD_NEXTWINDOW, CONTROL
 "h", CMD_HIGHWINDOW, CONTROL
 "d", CMD_BEGINNER, CONTROL
 "f", CMD_INTERMEDIATE, CONTROL
 "w", CMD_EXPERT, CONTROL
 "p", CMD_PROPERTIES, CONTROL
END

/* Help Tables and SubTables */
HELPTABLE HID_MAIN
BEGIN
 HELPITEM WID_PARENT, HID_SUBTABLE,1
END

HELPSUBTABLE HID_SUBTABLE
BEGIN
 HELPSUBITEM CMD_NEWGAME, HID_NEW
 HELPSUBITEM CMD_EXIT, HID_EXIT
 HELPSUBITEM CMD_BEGINNER, HID_BEGGINER
 HELPSUBITEM CMD_INTERMEDIATE, HID_INTERMEDIATE
 HELPSUBITEM CMD_EXPERT, HID_EXPERT
 HELPSUBITEM CMD_SOUNDON, HID_SOUNDON
 HELPSUBITEM CMD_SOUNDOFF, HID_SOUNDOFF
 HELPSUBITEM CMD_PROPERTIES, HID_PROPERTIES
 HELPSUBITEM CMD_NEXTWINDOW, HID_NEXTWINDOW
 HELPSUBITEM CMD_HIGHWINDOW, HID_HIGHWINDOW
 HELPSUBITEM CMD_SCOREWINDOW, HID_SCOREWINDOW
 HELPSUBITEM CMD_GAMEWINDOW, HID_GAMEWINDOW
 HELPSUBITEM CMD_ARRANGE, HID_ARRANGE
 HELPSUBITEM CMD_PINFO, HID_PINFO
 HELPSUBITEM CMD_GENERALHELP, HID_GENERALHELP
 HELPSUBITEM CMD_HELPINDEX, HID_HELPINDEX
 HELPSUBITEM CMD_HELPONHELP, HID_HELPONHELP
END
/* end of resources */
