/* Main resource file for WarpTris */

#include <os2.h>
#include "warptris.h"

/* Icon */
POINTER WID_PARENT warptris.ico

/* Bitmaps */
BITMAP BID_ON1 block1.bmp
BITMAP BID_ON2 block2.bmp
BITMAP BID_ON3 block3.bmp
BITMAP BID_ON4 block4.bmp
BITMAP BID_ON5 block5.bmp
BITMAP BID_ON6 block6.bmp
BITMAP BID_ON7 block7.bmp
BITMAP BID_LOGO space.bmp

BITMAP BID_ZERO  0.bmp
BITMAP BID_ONE   1.bmp
BITMAP BID_TWO   2.bmp
BITMAP BID_THREE 3.bmp
BITMAP BID_FOUR  4.bmp
BITMAP BID_FIVE  5.bmp
BITMAP BID_SIX   6.bmp
BITMAP BID_SEVEN 7.bmp
BITMAP BID_EIGHT 8.bmp
BITMAP BID_NINE  9.bmp
BITMAP BID_OFF   off.bmp

BITMAP BID_UP    up.bmp
BITMAP BID_DOWN  down.bmp
BITMAP BID_LEFT  left.bmp
BITMAP BID_RIGHT right.bmp
BITMAP BID_NEXTBACKGROUND back.bmp
BITMAP BID_SMALLOGO small.bmp
BITMAP BID_GAMEOVER gameover.bmp

/* Context menu of the game window */
MENU MNU_GAME
BEGIN
 MENUITEM "~Properties...\tCtrl+O", IDM_PROPERTIES
 MENUITEM SEPARATOR
 MENUITEM "~New\tCtrl+N", IDM_NEWGAME
 SUBMENU "~Impulse", IDM_SUBMENU_IMPULSE
 BEGIN
  MENUITEM "~Donkey\tCtrl+1", IDM_BEGINNER
  MENUITEM "~Formula 1\tCtrl+2", IDM_INTERMEDIATE
  MENUITEM "~WARP!\tCtrl+3", IDM_EXPERT
 END
 SUBMENU "~Sound", IDM_SUBMENU_SOUND
 BEGIN
  MENUITEM "~On", IDM_SOUNDON
  MENUITEM "O~ff", IDM_SOUNDOFF
 END
END

/* Context menu of the WarpTris (parent) window */
MENU MNU_PARENT
BEGIN
 MENUITEM "~Properties...\tCtrl+O", IDM_PROPERTIES
 MENUITEM SEPARATOR
 SUBMENU "~Windows", IDM_SUBMENU_WINDOWS
 BEGIN
  MENUITEM "~High Scores\tCtrl+H", IDM_HIGHWINDOW
  MENUITEM "~Next\tCtrl+E", IDM_NEXTWINDOW
  MENUITEM "~Score\tCtrl+S", IDM_SCOREWINDOW
  MENUITEM "~Game\tCtrl+G", IDM_GAMEWINDOW
  MENUITEM SEPARATOR
  MENUITEM "~Arrange", IDM_ARRANGE
 END
 SUBMENU "~Help", IDM_SUBMENU_HELP
 BEGIN
  MENUITEM "~General Help", IDM_GENERALHELP
  MENUITEM "Help ~Index", IDM_HELPINDEX
  MENUITEM "~Help on Help", IDM_HELPONHELP
  MENUITEM SEPARATOR
  MENUITEM "~About...", IDM_ABOUT
 END
 MENUITEM SEPARATOR
 MENUITEM "E~xit\tCtrl+X", IDM_EXIT
END

/* Main menu bar */
MENU WID_PARENT
BEGIN
 SUBMENU "~Game", IDM_SUBMENU_GAME
 BEGIN
  MENUITEM "~New\tCtrl+N", IDM_NEWGAME
  MENUITEM "~Pause Game\tCtrl+P", IDM_PAUSE
  MENUITEM "~Quit Game\tCtrl+Q", IDM_QUIT
  MENUITEM SEPARATOR
  MENUITEM "E~xit\tCtrl+X", IDM_EXIT
 END
 SUBMENU "~Options", IDM_SUBMENU_OPTIONS
 BEGIN
  MENUITEM "~Properties...\tCtrl+O", IDM_PROPERTIES
  MENUITEM SEPARATOR
  SUBMENU "~Impulse", IDM_SUBMENU_IMPULSE
  BEGIN
   MENUITEM "~Donkey\tCtrl+1", IDM_BEGINNER
   MENUITEM "~Formula 1\tCtrl+2", IDM_INTERMEDIATE
   MENUITEM "~WARP!\tCtrl+3", IDM_EXPERT
  END
  SUBMENU "~Sound", IDM_SUBMENU_SOUND
  BEGIN
   MENUITEM "~On", IDM_SOUNDON
   MENUITEM "O~ff", IDM_SOUNDOFF
  END
  MENUITEM SEPARATOR
  SUBMENU "~Detail", IDM_SUBMENU_DETAIL
  BEGIN
   MENUITEM "~High", IDM_HIGHDET
   MENUITEM "~Medium", IDM_MEDIUMDET
   MENUITEM "~Low", IDM_LOWDET
  END
  MENUITEM SEPARATOR
  SUBMENU "~Language", IDM_SUBMENU_LANGUAGE
  BEGIN
   MENUITEM "English", IDM_LANG_EN
   MENUITEM "Espanol", IDM_LANG_ES
   MENUITEM "Nederlands", IDM_LANG_NL
   MENUITEM "Deutsch", IDM_LANG_DE
   MENUITEM "Francais", IDM_LANG_FR
   MENUITEM "Italiano", IDM_LANG_IT
  END
  MENUITEM SEPARATOR
  MENUITEM "~Background Run\tCtrl+B", IDM_BACKGRND
  MENUITEM "~Frame Controls\tCtrl+F", IDM_FRAME
  MENUITEM SEPARATOR
  MENUITEM "S~ave settings on exit", IDM_SAVEONEXIT
 END
 SUBMENU "~Windows", IDM_SUBMENU_WINDOWS
 BEGIN
  MENUITEM "~High Scores\tCtrl+H", IDM_HIGHWINDOW
  MENUITEM "~Next\tCtrl+E", IDM_NEXTWINDOW
  MENUITEM "~Score\tCtrl+S", IDM_SCOREWINDOW
  MENUITEM "~Game\tCtrl+G", IDM_GAMEWINDOW
  MENUITEM SEPARATOR
  MENUITEM "~Arrange", IDM_ARRANGE
 END
 SUBMENU "~Help", IDM_SUBMENU_HELP
 BEGIN
  MENUITEM "~General Help", IDM_GENERALHELP
  MENUITEM "Help ~Index", IDM_HELPINDEX
  MENUITEM "~Help on Help", IDM_HELPONHELP
  MENUITEM SEPARATOR
  MENUITEM "~About...", IDM_ABOUT
 END
END

/* Accelerator table */
ACCELTABLE WID_PARENT
BEGIN
 "n", IDM_NEWGAME, CONTROL
 "N", IDM_NEWGAME, CONTROL
 "p", IDM_PAUSE, CONTROL
 "P", IDM_PAUSE, CONTROL
 "q", IDM_QUIT, CONTROL
 "Q", IDM_QUIT, CONTROL
 "x", IDM_EXIT, CONTROL
 "X", IDM_EXIT, CONTROL
 "b", IDM_BACKGRND, CONTROL
 "B", IDM_BACKGRND, CONTROL
 "f", IDM_FRAME, CONTROL
 "F", IDM_FRAME, CONTROL
 "o", IDM_PROPERTIES, CONTROL
 "O", IDM_PROPERTIES, CONTROL
 "h", IDM_HIGHWINDOW, CONTROL
 "H", IDM_HIGHWINDOW, CONTROL
 "e", IDM_NEXTWINDOW, CONTROL
 "E", IDM_NEXTWINDOW, CONTROL
 "s", IDM_SCOREWINDOW, CONTROL
 "S", IDM_SCOREWINDOW, CONTROL
 "g", IDM_GAMEWINDOW, CONTROL
 "G", IDM_GAMEWINDOW, CONTROL
 "1", IDM_BEGINNER, CONTROL
 "2", IDM_INTERMEDIATE, CONTROL
 "3", IDM_EXPERT, CONTROL
END

/* About dialog (standard layout, never translated) */
DLGTEMPLATE IDD_ABOUT
BEGIN
 DIALOG "About WarpTris", 0, 32, 24, 240, 110, , FCF_TITLEBAR | FCF_DLGBORDER
 BEGIN
  CTEXT "WarpTris for OS/2",                    -1, 10, 90, 220, 8
  CTEXT "Version 1.20",                         -1, 10, 78, 220, 8
  CTEXT "OpenWatcom Release",                   -1, 10, 66, 220, 8
  CTEXT "(c) 1996, Paulo Gago da Camara",      -1, 10, 54, 220, 8
  CTEXT "(c) 2026, OS2World",                   -1, 10, 42, 220, 8
  CTEXT "GNU GPL V3",                             -1, 10, 30, 220, 8
  DEFPUSHBUTTON "Close", DID_OK,                   98, 10, 44, 14, WS_GROUP
 END
END

/* Exit dialog */
DLGTEMPLATE DID_EXIT
BEGIN
 DIALOG "Exit WarpTris!", DID_EXIT, 80, 66, 200, 98, , FCF_TITLEBAR | FCF_SYSMENU
 BEGIN
  CONTROL "#5502", DBI_EXIT, 33, 46, 133, 50, WC_STATIC, SS_BITMAP | WS_VISIBLE
  CONTROL "Do you really want to exit this fine game?", DST_EXITTEXT, 4, 22, 192, 18, WC_STATIC, SS_TEXT | DT_CENTER | DT_WORDBREAK | WS_VISIBLE
  DEFPUSHBUTTON "~Yes", DID_OK, 40, 3, 44, 14, WS_GROUP
  PUSHBUTTON "~No", DID_CANCEL, 116, 3, 44, 14
 END
END

/* Game over dialog */
DLGTEMPLATE DID_GAMEOVER
BEGIN
 DIALOG "Information", DID_GAMEOVER, 46, 79, 139, 72, , FCF_TITLEBAR | FCF_SYSMENU
 BEGIN
  CONTROL "#3425", DBT_BITMAP, 3, 19, 133, 50, WC_STATIC, SS_BITMAP | WS_VISIBLE
  DEFPUSHBUTTON "~Ok", DID_OK, 15, 3, 44, 14, WS_GROUP
  PUSHBUTTON "~New", DID_CANCEL, 78, 3, 44, 14
 END
END

/* High score name entry dialog */
DLGTEMPLATE DID_HIGHSCORE
BEGIN
 DIALOG "Congratulations!", DID_HIGHSCORE, 97, 86, 204, 72, , FCF_TITLEBAR
 BEGIN
  CTEXT "You have made a High Score entry!", DST_NAMETEXT, 0, 56, 204, 10
  GROUPBOX "Please enter your name:", DST_NAMEGROUP, 4, 20, 196, 34
  ENTRYFIELD "", EID_NAME, 24, 30, 156, 8, ES_MARGIN
  DEFPUSHBUTTON "~Enter", DID_OK, 80, 3, 44, 14
 END
END

/* Properties notebook, page 1 */
DLGTEMPLATE DID_PAGE1
BEGIN
 DIALOG "", DID_PAGE1, 0, 7, 148, 84, WS_VISIBLE
 BEGIN
  GROUPBOX "Sound", DST_PAGE1GROUP, 0, 0, 108, 63
  RADIOBUTTON "On", DRB_ON, 22, 34, 80, 10, WS_TABSTOP
  RADIOBUTTON "Off", DRB_OFF, 22, 17, 80, 10, WS_TABSTOP
 END
END

/* Properties notebook, page 2 */
DLGTEMPLATE DID_PAGE2
BEGIN
 DIALOG "", DID_PAGE2, 0, 0, 148, 84, WS_VISIBLE
 BEGIN
  GROUPBOX "Enabled Windows", DST_PAGE2GROUP, 0, 0, 120, 73
  AUTOCHECKBOX "High Scores", DCB_HIGH, 12, 47, 100, 10
  AUTOCHECKBOX "Next", DCB_NEXT, 12, 36, 100, 10
  AUTOCHECKBOX "Score", DCB_SCORE, 12, 25, 100, 10
  AUTOCHECKBOX "Game", DCB_GAME, 12, 14, 100, 10
 END
END

/* Properties notebook, page 3 */
DLGTEMPLATE DID_PAGE3
BEGIN
 DIALOG "", DID_PAGE3, 0, 1, 159, 89, WS_VISIBLE
 BEGIN
  GROUPBOX "Impulse", DST_PAGE3GROUP, 0, 0, 108, 71
  RADIOBUTTON "Donkey", DRB_DONKEY, 11, 44, 90, 10, WS_TABSTOP
  RADIOBUTTON "Formula 1", DRB_FORMULA1, 11, 30, 90, 10, WS_TABSTOP
  RADIOBUTTON "WARP !", DRB_WARP, 11, 16, 90, 10, WS_TABSTOP
 END
END

/* Help tables */
HELPTABLE HID_MAIN
BEGIN
 HELPITEM WID_PARENT, HID_SUBTABLE, 1
END

HELPSUBTABLE HID_SUBTABLE
BEGIN
 HELPSUBITEM IDM_NEWGAME, HID_NEW
 HELPSUBITEM IDM_PAUSE, HID_NEW
 HELPSUBITEM IDM_QUIT, HID_NEW
 HELPSUBITEM IDM_EXIT, HID_EXIT
 HELPSUBITEM IDM_BEGINNER, HID_BEGGINER
 HELPSUBITEM IDM_INTERMEDIATE, HID_INTERMEDIATE
 HELPSUBITEM IDM_EXPERT, HID_EXPERT
 HELPSUBITEM IDM_SOUNDON, HID_SOUNDON
 HELPSUBITEM IDM_SOUNDOFF, HID_SOUNDOFF
 HELPSUBITEM IDM_PROPERTIES, HID_PROPERTIES
 HELPSUBITEM IDM_NEXTWINDOW, HID_NEXTWINDOW
 HELPSUBITEM IDM_HIGHWINDOW, HID_HIGHWINDOW
 HELPSUBITEM IDM_SCOREWINDOW, HID_SCOREWINDOW
 HELPSUBITEM IDM_GAMEWINDOW, HID_GAMEWINDOW
 HELPSUBITEM IDM_ARRANGE, HID_ARRANGE
 HELPSUBITEM IDM_ABOUT, HID_ABOUT
 HELPSUBITEM IDM_GENERALHELP, HID_GENERALHELP
 HELPSUBITEM IDM_HELPINDEX, HID_HELPINDEX
 HELPSUBITEM IDM_HELPONHELP, HID_HELPONHELP
END
